label.valid {
  width: 24px;
  height: 24px;
  background: url(../images/Done.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

a 
{
	text-decoration: none;
	color: black;
}

.top_bump
{
	margin-top: 40px;
}

#standings 
{
	margin-top: 20px;
}

#schedule_body th, #schedule_body td
{
	border: 1px solid black;
	padding: 10px 0;
	text-align: center;
}

#mytable th, #mytable td
{
	border: 1px solid black;
	padding: 10px 0;
	text-align: center;
}

#contact_pop td
{
	font-size: 1em!important;
	border: 0;
	padding: 5px 5px;
}

#mytable td
{
	font-size: 1.6em;
}

#mytable th
{ 
	font-size: 2em;
}

#modal_form input, #score_form input
{
	height: 30px;
}

#zip
{
	width: 176px;
}





 
